#activity-posts {
  .activity {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    border-width: 50%;

    .profile-img {
      margin-left: 1rem;
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }

    .info {
      display: flex;
      justify-content: space-between;
      .user-info {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        #username {
          font-weight: 600;
        }
        #detail {
          font-size: 0.9rem;
          color: #333;
        }
        #timestamp {
          font-size: 0.75rem;
          color: #aaa;
        }
      }

      .info-image {
        margin-left: 15rem;
        img {
          height: 60px;
          width: 60px;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .activity-loader {
    img {
      display: none;
      height: 60px;
      width: 60px;
      position: absolute;
      top: 50%;
      left: 45%;
    }
  }
}
