#search-user {
  input {
    width: 35%;
    margin: 0 auto;
  }
}

.card-search {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px -3px 10px 1px rgba(204, 204, 204, 0.1);
  border: 0;
}

#result {
  #user-result {
    position: relative;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    padding-right: 10px;
    border-bottom: solid 1px rgba(204, 204, 204, 0.342);

    .search-user-info {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;

      #display-name {
        font-size: 1.1rem;
      }

      #user-name {
        padding-top: 1px;
        color: grey;
      }
    }

    img {
      width: 70px;
      height: 70px;
    }

    button {
      position: absolute;
      right: 10%;
    }
  }
}

.chat-loader {
  display: none;
  img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
  }
}

.screen-loader {
  display: none;
  img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
  }
}

#no-chat {
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }
  h2 {
    text-align: center;
  }
}

#chats {
  .chat-tiles {
    cursor: pointer;

    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.55rem;
    border-bottom: 1px solid #eee;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }

    .user-info {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-self: center;

      #user-name {
        font-weight: 600;
        padding-bottom: 1px;
      }

      #message-count {
        font-size: 0.75rem;
        color: grey;
      }
    }
  }
}
