.container {
  max-width: 800px;
  margin: 0 auto;
}

#navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 3px 3px 10px 1px rgba(207, 205, 205, 0.1);
  ul {
    display: flex;
    align-self: center;
    justify-content: flex-end;

    li {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;

      a {
        color: grey;
        .current {
          color: $primary-color;
        }
      }
    }
  }
}

.no-posts {
  display: none;
  padding-top: 3rem;
  img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
  }
  h2 {
    text-align: center;
  }
}

.home-loader {
  height: 50px;
  width: 50px;
}

#bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  ul {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    li {
      padding-top: 1rem;
      padding-right: 1rem;
      align-items: center;

      a {
        color: grey;
        .current {
          color: $primary-color;
        }
      }
    }
  }
}
