.container {
  max-width: 800px;
  margin: 0 auto;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    display: flex;
    align-self: center;

    li {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: center;

      a {
        color: grey;
        .current {
          color: $primary-color;
        }
      }
    }
  }
}

.no-posts {
  display: none;
  padding-top: 3rem;
  img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
  }
  h2 {
    text-align: center;
  }
}
