#user-post {
  margin: 0 auto;
  max-width: 550px;
  position: relative;

  .post-loader {
    img {
      display: none;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }

  .user-post-header {
    display: flex;
    align-items: center;
    padding-bottom: 0.55rem;
    padding-top: 0.55rem;
    img {
      margin-left: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .data-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 1rem;

      #user-name {
        font-weight: 600;
      }

      #location {
        font-size: 0.75rem;
        color: grey;
      }
    }
  }
  .post-image {
    padding-bottom: 0.55rem;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      border-radius: 5px;
    }
    .heart {
      display: none;
      position: absolute;
      top: 20%;
      left: 30%;
      width: 200px;
      height: 200px;
      opacity: 0.9;
    }
  }

  .user-post-footer {
    .icons {
      i {
        &:first-child {
          color: crimson;
          padding-right: 10px;
          cursor: pointer;
        }
        &:last-child {
          color: $primary-color;
          cursor: pointer;
        }
      }
    }

    .counts {
      span {
        font-weight: 600;
      }
    }

    .desc {
      #user-name-desc {
        font-weight: 600;
      }

      #timestamp-desc {
        display: block;
        color: #333;
        font-size: 0.75rem;
      }
    }
  }
}
