@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 550px;
}

// LOGIN CARD
.card-login {
  height: 60vh;
  background-color: #fff;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 2rem;
}

.main-text {
  padding-top: 1rem;
  font-weight: bold;
}

.logo {
  height: 100px;
  width: 100px;
  margin-top: 1rem;
}

.google-btn {
  margin-top: 4rem;
  cursor: pointer;
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(133, 133, 133, 0.25);
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

@import "set_up_profile";
@import "home";
@import "upload";
@import "profile";
@import "chat";
@import "user_profile";
@import "post";
